
:root {
    --backgroundWhite:rgb(242, 238, 243, 1);
    --backgroundDarkGray:rgb(10, 9, 10, 1);
    --backgroundLightGray:rgb(40, 39, 41, 1);
    --highlightPrimary:rgb(212, 44, 149, 1);
    --highlightSecondary:rgb(0, 0, 0);
    --fontSizePrimary:1.5rem;
    --fontSizeSecondary:1.2rem;
}





.sidePanelSvgColor {
   background-color: var(--backgroundLightGray);
   display: flex;
   justify-content: center;
   height: 100%;
  
}
.colorSlider{
    margin-top: 10%;
    margin-bottom: 10%;
}