
:root {
    --backgroundWhite:rgb(242, 238, 243, 1);
    --backgroundDarkGray:rgb(10, 9, 10, 1);
    --backgroundLightGray:rgb(40, 39, 41, 1);
    --highlightPrimary:rgb(212, 44, 149, 1);
    --highlightSecondary:rgb(0, 0, 0);
    --fontSizePrimary:1.5rem;
    --fontSizeSecondary:1.2rem;
}




.taskBar{
    display: flex;
    overflow: auto;
    gap: 10%;
    margin-left: 5%;
    margin-right: 5%;

    width: 100%;
}

.objectControls{
    display: flex;
    gap: 10%;
    width: 100%;

}
.taskBarBtn {
    color: var(--backgroundWhite);
    background-color: var(--backgroundDarkGray);
    border: none;
    outline: none;
    height: 70px;
    width: 70px;
    transition: ease-in 2ms;
}

#taskBtnActive{
    color:var(--highlightPrimary);
}
.taskBarBtn:hover{
    color: var(--highlightPrimary);
}
#toolTipMenu{
    background-color:var(--backgroundDarkGray);
    font-size: 1rem;
    display:none;
    z-index:99;
}
#toolTipSnap{
    background-color:var(--backgroundDarkGray);
    font-size: 1rem;
    display:none;
    z-index:99;
}
#toolTipUndo{
    background-color:var(--backgroundDarkGray);
    font-size: 1rem;
    display:none;
    z-index:99;
}
#toolTipRedo{
    background-color:var(--backgroundDarkGray);
    font-size: 1rem;
    display:none;
    z-index:99;
}
#toolTipExport{
    background-color:var(--backgroundDarkGray);
    font-size: 1rem;
    display:none;
    z-index:99;
}
#toolTipLayerUp{
    background-color:var(--backgroundDarkGray);
    font-size: 1rem;
    display:none;
    z-index:99;
}
#toolTipLayerDown{
    background-color:var(--backgroundDarkGray);
    font-size: 1rem;
    display:none;
    z-index:99;
}
#toolTipCenter{
    background-color:var(--backgroundDarkGray);
    font-size: 1rem;
    display:none;
    z-index:99;
}
#toolTipRemove{
    background-color:var(--backgroundDarkGray);
    font-size: 1rem;
    display:none;
    z-index:99;
}
#toolTipClear{
    background-color:var(--backgroundDarkGray);
    font-size: 1rem;
    display:none;
    z-index:99;
}

@media only screen and (min-width: 800px){

    #toolTipMenu{
       
        display:block;
    }
    #toolTipSnap{
        display: block;
    }
    #toolTipUndo{
       
        display:block;
    }
    #toolTipRedo{
        
        display:block;
    }
    #toolTipExport{
        
        display:block;
    }
    #toolTipLayerUp{
        
        display:block;
    }
    #toolTipLayerDown{
        
        display:block;
    }
    #toolTipCenter{
        
        display:block;
    }
    #toolTipRemove{
        
        display:block;
    }
    #toolTipClear{
        
        display:block;
    }
}
@media only screen and (min-width: 1200px){
    .taskBar {
        flex-direction: column;
        gap: 1%;
        width: 100%;
        overflow: hidden;
        margin-left: 0;
        margin-right: 0;
    }
    .objectControls{
        flex-direction: column;
        gap: 1%;
        overflow: hidden;
        margin-left: 0;
        margin-right: 0;
    }
    .taskBarBtn{
        height: 60px;
        width: 60px;
    }
}