:root {
    --backgroundWhite:rgb(240, 240, 247);
    --backgroundDarkGray:rgb(25, 26, 26);
    --backgroundLightGray:rgb(28, 37, 35);
    --highlightPrimary:rgb(255, 123, 7);
    --highlightSecondary:rgb(14, 13, 13);
}