*{
    margin: 0;
    padding: 0;
    font-family: ubuntu,sans-serif ;
    font-weight: 400;
}
:root {
    --backgroundWhite:#F2eef3;
    --backgroundDarkGray:#0a090a;
    --backgroundLightGray:#282729;
    --highlightPrimary:"#1D4ED8";
    --highlightSecondary:#282729;
    --fontSizePrimary:1.5rem;
    --fontSizeSecondary:1.2rem;
}

.App {
    width: auto;
    display: flex;
   flex-direction: column;
    background-color:var(--backgroundWhite);
    justify-content: center;
    align-items: center;
    height: auto;
   
    
   
}

.canvasDiv{
    
    
    grid-area: 1/1;
    display: grid;
    
}

.tShirt {
    max-width: 100%;
    height: auto;
    grid-area: 1/1;
}
.mainDiv{
   
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
 
    
    
}
canvas {
    border: 2px dotted var(--highlightPrimary);
  
}
.canvasSubDiv{

    display: flex;
    justify-content: center;
    padding-top: 20%;
   
}

.testImage {
    height: 200px;
    width: 200px;
    
}
.controlsDiv {
    display: flex;
    flex-direction: column;
   width: 100%;
   
}
.taskBarDiv{
    display: flex;
    background-color:var(--backgroundDarkGray);
}

@media only screen and (min-width: 1200px) {
   .App{
    flex-direction: row-reverse;
   height: 100vh;
   }
   .mainDiv{
    
    flex:2;
    height: inherit;
    justify-content: center;
    
   }
   .controlsDiv{
    flex: 1;
  
    flex-direction: row;
    height: inherit;
    width: auto;
    
   }
   .tShirt{
    height: inherit;
    justify-self: center;
    
   }
   .inputObjectsDiv{
   
    width: 100%;
    
   }
   .canvasSubDiv{
    padding-top: 10%;
   }
  
  }

  #signUpCard:hover + #signUpGradient{
    inset:8px;
    transition:1s ease;
  }
  