*{
    margin: 0;
    padding: 0;
    font-family: monospace ;
    font-weight: 500;
}
:root {
    --backgroundWhite:rgb(240, 240, 247);
    --backgroundDarkGray:rgb(25, 26, 26);
    --backgroundLightGray:rgb(28, 37, 35);
    --highlightPrimary:rgb(3, 252, 248);
    --highlightSecondary:rgb(14, 13, 13);
}

.App {
    width: auto;
    display: flex;
   flex-direction: column;
    background-color:var(--backgroundWhite);
    justify-content: center;
    align-items: center;
    
   
}

.canvasDiv{
    
    
    grid-area: 1/1;
    display: grid;
    
}

.tShirt {
    max-width: 100%;
    height: auto;
    grid-area: 1/1;
}
.mainDiv{
   
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
 
    
    
}
canvas {
    border: 2px dotted var(--highlightPrimary);
  
}
.canvasSubDiv{

    display: flex;
    justify-content: center;
    padding-top: 20%;
   
}

.testImage {
    height: 200px;
    width: 200px;
    
}
.controlsDiv {
    display: flex;
    flex-direction: column;
   width: 100%;
   
}
.taskBarDiv{
    display: flex;
    background-color:var(--backgroundDarkGray);
}

@media only screen and (min-width: 1200px) {
   .App{
    flex-direction: row-reverse;
   height: 100vh;
   }
   .mainDiv{
    
    flex:2;
    height: inherit;
    justify-content: center;
    
   }
   .controlsDiv{
    flex: 1;
  
    flex-direction: row;
    height: inherit;
    width: auto;
    
   }
   .tShirt{
    height: inherit;
    justify-self: center;
    
   }
   .inputObjectsDiv{
   
    width: 100%;
    
   }
   .canvasSubDiv{
    padding-top: 10%;
   }
  
  }

 